 .form-group {
     margin-bottom: 15px;
 }

 .form-group label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
     color: #2c3e50;
 }

 .form-group input,
 .form-group select,
 .form-group textarea {
     width: 100%; /* Ocupa todo o espaço do card */
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box; /* Garante que o padding não estoure a largura */
 }