body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h3 {
    margin: 0 0 5px 0;
    color: #2c3e50;
}

.badge {
    background: #3498db;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8em;
}

.nota {
    font-weight: bold;
    color: #e67e22;
}

/* Botões */
.btn-salvar {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-salvar:hover {
    background-color: #219150;
}

.btn-cancelar {
    margin-left: 10px;
    text-decoration: none;
    color: #7f8c8d;
}

.btn-delete {
    background-color: #e74c3c; /* Vermelho sangue */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-delete:hover {
    background-color: #c0392b; /* Vermelho mais escuro */
}

.btn-edit {
    background-color: #f39c12; /* Laranja */
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none; /* Tira o sublinhado do link */
    font-size: 0.9em; /* Ajuste visual para alinhar com o botão delete */
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-edit:hover {
    background-color: #d35400; /* Laranja escuro */
}