/* --- VARIÁVEIS PARA MODO CLARO --- */
:root {
    --bg-body: #f0f2f5;
    --bg-card: #ffffff;
    --bg-header: #ffffff;
    --text-main: #2c3e50;
    --text-muted: #7f8c8d;
    --border-color: #ddd;
    --card-shadow: rgba(0, 0, 0, 0.05);
}

/* --- VARIÁVEIS PARA MODO ESCURO --- */
[data-theme="dark"] {
    --bg-body: #121212;
    --bg-card: #1e1e1e;
    --bg-header: #1a1a1a;
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;
    --border-color: #333;
    --card-shadow: rgba(0, 0, 0, 0.4);
}