<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meus Backlog - Bem vindo</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎮</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>
    <body>

        <div style="position: absolute; top: -100px; left: -100px; width: 300px; height: 300px; background: var(--primary-color); filter: blur(150px); opacity: 0.4; z-index: -2;"></div>
        <div style="position: absolute; bottom: -50px; right: -50px; width: 400px; height: 400px; background: var(--secondary-color); filter: blur(180px); opacity: 0.3; z-index: -2;"></div>


        <div class="container">
            <span class="icon">🎮</span>
            <h1>Meus Backlog</h1>
            <p>Sua coleção, suas regras.<br>Organize os jogos que você zerou e os filmes que assistiu.</p>

            <div class="btn-group">
                <a href="/login" class="btn btn-primary">Acessar Sistema</a>
                <a href="/register" class="btn btn-outline">Criar Conta</a>
            </div>
        </div>

    </body>
</html>