<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - Meus Backlog</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎮</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <script defer src="https://cloud.umami.is/script.js" data-website-id="7426b8b2-ca40-453e-8cfc-72364e92c02c"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/auth.css}">
    </head>
    <body>

        <div class="card">
            <h2>Acesse sua conta 🎮</h2>

            <div th:if="${param.error}" class="error">
              Usuário ou senha incorretos!
            </div>
            <div th:if="${param.success}" style="color: #4cd137; margin-bottom: 10px;">
              Conta criada! Pode entrar.
            </div>

            <form th:action="@{/login}" method="post">
              <input type="text" name="username" placeholder="Email" required>

              <div class="password-wrapper">
                  <input type="password" name="password" placeholder="Senha" required>

                  <button type="button" class="toggle-password" onclick="togglePassword(this)" tabindex="-1">
                      <i class="fa-solid fa-eye"></i>
                  </button>
              </div>

              <button type="submit">Entrar</button>
            </form>

            <br>
            <a href="/register">Criar uma conta</a>
        </div>

        <script th:src="@{/js/script.js}"></script>

    </body>
</html>