<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Criar Conta - Meus Backlog</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎮</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script defer src="https://cloud.umami.is/script.js" data-website-id="7426b8b2-ca40-453e-8cfc-72364e92c02c"></script>
        <link rel="stylesheet" th:href="@{/css/auth.css}">
    </head>
    <body>
        <div class="card">
            <a href="/" style="text-decoration: none; color: inherit;">
                <h2>Crie sua conta 🎮</h2>
            </a>

            <!-- Mensagens de erro -->
            <div th:if="${param.error != null and param.error[0] == 'email'}" class="alert">
                ⚠️ Ops! Esse e-mail já está sendo usado.
            </div>

            <div th:if="${param.error != null and param.error[0] == 'senha'}" class="alert">
                ⚠️ A senha é muito fraca! Siga os requisitos abaixo.
            </div>

            <div th:if="${param.error != null and param.error[0] == 'social'}" class="alert">
                ⚠️ Ops! Esse @ já está sendo usado por outra pessoa. Escolha outro.
            </div>

            <div th:if="${param.deleted}" class="error">
                ❌ Conta deletada!
            </div>

            <div th:if="${param.error != null && param.error[0] == 'tokenExpired'}" class="warning-message" style="background-color: #ef6c00; color: white; padding: 12px; border-radius: 5px; margin-bottom: 15px; text-align: center; font-size: 14px;">
                <i class="fa-solid fa-clock"></i> O seu link de verificação expirou. Por motivos de segurança, os seus dados foram removidos. Por favor, realize um novo registo.
            </div>

            <div th:if="${param.error != null && param.error[0] == 'spam'}" class="error-message" style="background-color: #c62828; color: white; padding: 12px; border-radius: 5px; margin-bottom: 15px; text-align: center; font-size: 14px;">
                <i class="fa-solid fa-hand"></i> Muitas tentativas de cadastro. Aguarde 10 minutos.
            </div>
            <!-- Fim das mensagens -->

            <form th:action="@{/auth/register}" method="post">
                <input type="text" name="login" placeholder="Seu Nome" required>
                <input type="email" name="email" placeholder="Seu E-mail de cadastro" required>

                <input type="text" name="socialUsername" placeholder="Crie seu @ de usuario" pattern="^[a-zA-Z0-9_.]+$" title="Apenas letras, números, pontos ou sublinhados" required>

                <div class="container-senha" style="position: relative;">

                    <div class="password-wrapper">
                        <input type="password" name="password" id="novaSenha" class="senha-verifica" placeholder="Senha Secreta" required>

                        <button type="button" class="toggle-password" onclick="togglePassword(this)" tabindex="-1">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>

                    <div class="requisitos-senha" id="box-requisitos">
                        <div class="requisito-item" id="req-tamanho"><i class="fa-solid fa-circle-xmark"></i> Mínimo 8 caracteres</div>
                        <div class="requisito-item" id="req-maiuscula"><i class="fa-solid fa-circle-xmark"></i> Letra Maiúscula</div>
                        <div class="requisito-item" id="req-minuscula"><i class="fa-solid fa-circle-xmark"></i> Letra Minúscula</div>
                        <div class="requisito-item" id="req-numero"><i class="fa-solid fa-circle-xmark"></i> Número</div>
                        <div class="requisito-item" id="req-especial"><i class="fa-solid fa-circle-xmark"></i> Caractere Especial</div>
                    </div>
                </div>

                <button type="submit">Cadastrar</button>
            </form>

            <br>
            <a href="/login">Já tem conta? Entrar</a>
            <br>
            <a href="/">Voltar para Início</a>
        </div>

        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
