<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nova Senha - Meus Backlog</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔒</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/auth.css}">
    </head>

    <body>

        <div class="card">
            <h2>Nova Senha 🔒</h2>

            <div th:if="${error}" class="error" th:text="${error}"></div>

            <form th:action="@{/resetar-senha}" method="post">
                <input type="hidden" name="token" th:value="${token}">

                <div class="container-senha" style="position: relative;">
                    <div class="password-wrapper">
                        <input type="password" name="password" id="novaSenha" class="senha-verifica" placeholder="Digite sua nova senha" required>
                        <button type="button" class="toggle-password" onclick="togglePassword(this)" tabindex="-1">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </div>

                    <div class="requisitos-senha" id="box-requisitos">
                        <div class="requisito-item" id="req-tamanho"><i class="fa-solid fa-circle-xmark"></i> Mínimo 8 caracteres</div>
                        <div class="requisito-item" id="req-maiuscula"><i class="fa-solid fa-circle-xmark"></i> Letra Maiúscula</div>
                        <div class="requisito-item" id="req-minuscula"><i class="fa-solid fa-circle-xmark"></i> Letra Minúscula</div>
                        <div class="requisito-item" id="req-numero"><i class="fa-solid fa-circle-xmark"></i> Número</div>
                        <div class="requisito-item" id="req-especial"><i class="fa-solid fa-circle-xmark"></i> Caractere Especial</div>
                    </div>
                </div>

                <button type="submit" style="margin-top: 15px;">Salvar nova senha</button>
            </form>

            <br>
            <a href="/login">Cancelar</a>
        </div>

        <script th:src="@{/js/script.js}"></script>

    </body>
</html>
